---
layout: default
title:
---
{% for post in site.posts %}            
{% if forloop.index == 1 %}
    <article class="article">
        <!-- title -->
        <h1>{{ post.title }}</h1>

        <!-- tags -->
        {% unless post.tags == empty %}
        <p class="tags">
            <i class="tags icon"></i>&nbsp; 
            {% for tag in post.tags %} 
                <a target="_blank" href="/{{ site.url.tags }}/{{ tag}}">
                    {{ tag }}
                </a>
            {% endfor %}
        </p>
        {% endunless %}

        <!-- date -->
        <p class="date"><i class="calendar icon"></i>&nbsp; {{ post.date | date_to_string }}</p>
        
        <!-- content -->
        {{ post.content }}

    </article>
    <hr>
    {% include addthis.html url=post.url %}
    <br>
    {% include disqus.html %}
{% endif %}
{% endfor %}