---
layout: default
title: Projects
---
<div class="articlelist">
    <h1>My Code</h1>
    <hr>
    {% for post in site.posts %}
    {% if post.category == 'code' %}
        <article class="article">
            <!-- title -->
            <a href="{{ post.url }}"><h1>{{ post.title }}</h1></a>

            <!-- tags -->
            {% unless post.tags == empty %}
            <p class="tags">
                <i class="tags icon"></i>&nbsp; 
                {% for tag in post.tags %} 
                    <a target="_blank" href="/{{ site.url.tags }}/{{ tag}}">
                        {{ tag }}
                    </a>
                {% endfor %}
            </p>
            {% endunless %}

            <!-- date -->
            <p class="date">
                <i class="calendar icon"></i>&nbsp; 
                {{ post.date | date_to_string }}
            </p>

            <!-- excerpt -->
            <div class="excerpt"
                {{ post.excerpt }}
            </div>

        </article>
    {% endif %}
    {% endfor %}
</div>

