<!-- Header -->
            <div id="header" class="skel-panels-fixed">

                <div class="top">

                    <!-- Logo -->
                        <div id="logo">
                            <!-- <span class="image avatar48"><img src="images/avatar.jpg" alt="" /></span> -->
                            <h1 id="title">Son Pham</h1>
                            <span class="byline">Software Engineer</span>
                        </div>

                    <!-- Nav -->
                        <nav id="nav">
                            <!--
                            
                                Prologue's nav expects links in one of two formats:
                                
                                1. Hash link (scrolls to a different section within the page)
                                
                                   <li><a href="#foobar" id="foobar-link" class="skel-panels-ignoreHref"><span class="fa fa-whatever-icon-you-want">Foobar</span></a></li>

                                2. Standard link (sends the user to another page/site)

                                   <li><a href="http://foobar.tld"><span class="fa fa-whatever-icon-you-want">Foobar</span></a></li>
                            
                            -->
                            <ul>
                                <li><a href="{{ include.root }}#top" id="top-link" class="skel-panels-ignoreHref {{ include.topclass }}"><span class="fa fa-home">Home</span></a></li>
                                <li><a href="{{ include.root }}#posts" id="posts-link" class="skel-panels-ignoreHref {{ include.postsclass }}"><span class="fa fa-pencil">Posts</span></a></li>
                                <li><a href="{{ include.root }}#portfolio" id="portfolio-link" class="skel-panels-ignoreHref {{ include.portfolioclass }}"><span class="fa fa-code">Projects</span></a></li>
                                <li><a href="{{ include.root }}#about" id="about-link" class="skel-panels-ignoreHref {{ include.aboutclass }}"><span class="fa fa-user">About</span></a></li>
                            </ul>
                        </nav>
                        
                </div>
                
                <div class="bottom">

                    <!-- Social Icons -->
                        <ul class="icons">
                            <li><a href="https://github.com/s0nny" target="_blank" class="fa fa-github-square solo" title="GitHub"><span>GitHub</span></a></li>
                            <li><a href="https://facebook.com/s0nnyftw" target="_blank" class="fa fa-facebook-square solo" title="Facebook"><span>Facebook</span></a></li>
                            <li><a href="https://www.linkedin.com/pub/son-pham/60/a28/31a" target="_blank" class="fa fa-linkedin-square solo" title="LinkedIn"><span>LinkedIn</span></a></li>
                            <li><a href="mailto:son.pham@utdallas.edu" target="_blank" class="fa fa-envelope solo" title="Email"><span>Email</span></a></li>
                        </ul>
                
                </div>
            
            </div>