                <aside id="navmobile" class="mobile only row">
                    <div>
                        <div style="display: inline-block;">
                            <a href="{{site.url.about}}"><img src="/assets/img/profile.gif"></a>
                        </div>
                        &nbsp;&nbsp;
                        <div style="display: inline-block;">
                            <strong>Son Pham</strong>
                            <br>
                            <em>Software Engineer</em>
                        </div>
                    </div>
                    <br>
                    <div>
                        <a href="{{site.url.home}}"><i class="square home icon"></i></a>
                        &nbsp; &nbsp;
                        <a href="{{site.url.posts}}"><i class="square pencil icon"></i></a>
                        &nbsp; &nbsp;
                        <a href="{{site.url.projects}}"><i class="square code icon"></i></a>
                        &nbsp; &nbsp;
                        <a href="{{site.url.about}}"><i class="square user icon"></i></a>
                    </div>
                    <br>
                    <div>
                        <a target="_blank" href="{{site.url.github}}"><i class="square github sign icon"></i></a>
                        &nbsp; &nbsp;
                        <a target="_blank" href="{{site.url.linkedin}}"><i class="square linkedin sign icon"></i></a>
                        &nbsp; &nbsp;
                        <a target="_blank" href="{{site.url.facebook}}"><i class="square facebook sign icon"></i></a>
                        &nbsp; &nbsp;
                        <a target="_blank" href="{{site.url.email}}"><i class="square mail icon"></i></a>
                    </div>
                </aside>
