/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
/* html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {   margin: 0;  padding: 0; border: 0;  font-size: 100%;    font: inherit;  vertical-align: baseline;} article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {    display: block;}body {  line-height: 1;}ol, ul {    list-style: none;}blockquote, q {   quotes: none;}blockquote:before, blockquote:after,q:before, q:after {   content: '';    content: none;}table {  border-collapse: collapse;  border-spacing: 0;} */

/*
* {
  border: 1px solid gray;
}
*/

/* TAGS */
br.clear {
    clear: both;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/* LINKS */
a {
    text-decoration: none;
    color: #008959;
}

a:hover {
    text-decoration: underline;
}

/* IMAGE / FIGURE */
img {
    border: 1px solid #d0d0d0;
    padding: 5px;
}

figure {
    border: 1px solid #d0d0d0;
    text-align: center;
}

figure img {
    border: none;
}

figure figcaption {
    color: #707070;
}

/* BLOCKQUOTE */
blockquote {
    font-style: italic;
    padding-left: 3em;
    color: #707070;
}

blockquote p:before {
    content: '\201c';
    font-size: 2em;
}

blockquote p:after {
    content: '\201d';
    font-size: 2em;
}

/* TABLES */
table {
    border: 1px solid #d0d0d0;
/*
    border-collapse: separate;
    border-spacing: 15px 2px;
*/
}

table {
    margin-left: auto;
    margin-right: auto;
}

table td, th {
    padding: 2px 15px;
}

table th {
    border-bottom: 1px solid #d0d0d0;
    background-color: #fafafa;
}

table tr:nth-child(even) {
    background-color: #fafafa;
}

/* CODE BLOCKS */
code {
    font-family: monospace;
    font-size: 0.8em;
    background-color: #fafafa;
/*    border: 1px solid #d0d0d0;*/
    padding: .22em;
    white-space: nowrap;
}

pre {
    font-family: monospace;
    background-color: #fafafa;
    border: 1px solid #d0d0d0;
    padding: 0.5em 1em;
    line-height: 1.25em;
    white-space: pre;
    overflow-x: auto;
    margin-left: 2em;
    margin-right: 2em;
}
pre code {
    border: none;
    white-space: pre;
}


/* CODE BLOCKS WITH LINE NUMBERS */
.highlighttable pre, .highlighttable code {
    border: none;
    line-height: 1.25em;
    margin: 0;
    font-size: 0.8em;
}

.highlighttable pre code {
    font-size: 1em;
}

.highlighttable td {
    padding: 0;
}


/* ARTICLE */
.article p, .article {
    font-family: Droid Serif, serif;
    line-height: 1.7em;
    font-size: 1em;
}

.article h1, .articlelist > h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.5em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-top: 35px;    
    color: #404040;
}

.article h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5em;
    color: #757575;
    padding-top: 0.5em;
    line-height: 1.1em;
}

.article h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
}

.article h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
}

.article .excerpt, .excerpt {
    color: #505050;
}

.tags, .tags * {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

.article .date {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    color: #202020;
}

.articlelist > .article h1 {
    font-size: 2.5em;
    color: #20A979; /* lighter color for bigger font */
}


/* SPECIFIC IDs */
#header {
    background-color: #008959;
}

#side, #navmobile {
    color: #202020;
}

    #side hr {
        max-width: 120px;
        margin-right: 0px;
    }


/* RESPONSIVE VIEWS */
@media only screen and (max-width: 767px) {
    #main {
        margin-left: 5%;
        min-width: 90%;
    }
    
    #navmobile {
        margin-top: 35px;
        margin-left: 5%;
        font-style: normal;
        font-size: 17px;
    }
    
    #side {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #main {
        padding-left: 20px;
        padding-right: 10%;
        max-width: 800px;
    }
    
    #navmobile {
        display: none;
    }
    
    #side {
        line-height: 1.5em;
        text-align: right;
        padding-left: 40px;
        margin-top: 68px;
        display: inline-block;
        min-width: 130px;
    }
    
    #side ul {
        list-style-type: none;
    }
}
