---
layout: default
root: "/index.html"
postsclass: "active"
---
        <!-- Main -->
            <div id="main">
                <!-- Posts -->
                    <section id="posts" class="one">
                        <div class="container">
                            <p>
                                <a href="/{{ page.category }}">{{page.category}}</a><br />
                                {{page.date | date_to_string}}<br />
                                {% for i in page.tags %}
                                {{ i }}
                                {% endfor %}
                            </p>

                            <br />
                            <header>
                                <h2 class="alt">{{page.title}}</h2>
                            </header>
                            
                            {{content}}

                        </div>
                    </section>
                
                
                <!-- Comments -->
                    <section id="disqus" class="two">
                        {% include disqus.html %}

                    </section>
            </div>
