---
layout: default
root: "/index.html"
postsclass: "active"
---
        <!-- Main -->
            <div id="main">
                <!-- Posts -->
                    <section id="posts" class="one">
                        <div class="container">
                            {% if page.imgfeatured %}
                            <a href="{{page.imgfeaturedlink}}" class="image featured"><img src="/assets/img
/{{page.imgfeatured}}" alt="" /></a>
                            {% endif %}

                            <header>
                                <h2 class="alt">{{page.title}}</h2>
                            </header>

                            <p>
                                {{page.date | date_to_string}}<br />
                                {% for tag in page.tags %}
                                    <a href="/tag/{{tag}}">{{tag}}</a>
                                {% endfor %}
                                <br />
                            </p>
                            
                            {{content}}

                        </div>
                    </section>
                
                
                <!-- Comments -->
                    <section id="disqus" class="two">
                        {% include disqus.html %}

                    </section>
            </div>
